h1, .main-content {
	text-align: center;
  font weight: bold;
  color: #fd354c;
	text-shadow: 1px 1px 3px  #ffffe6;
	border-style: groove;
	height: 300px;
	width: 500px;
	border-width: 5px;
	border-color: #4a331c;
  font-family: 'Playfair Display', serif;

}

html, body {
	height: 100%;
	margin: 0;
	background: linear-gradient(to bottom, #66ff66, #ccff99);
}
